<div class="container py-5">
    <h3 class=" border-bottom pb-3">Employee-List</h3>
    <table class="table table-striped py-2" *ngIf="employees">
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">UserName</th>
              <th scope="col">Email</th>
              <th scope="col">Department</th>
              <th scope="col">Contact</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employees">
              <th scope="row">{{emp.id}}</th>
              <td>{{emp.employeeName}}</td>
              <td>{{emp.email}}</td>
              <td>{{emp.department}}</td>
              <td>{{emp.contactNo}}</td>
              <td>
                <a routerLink="/update/{{emp.id}}"  class="btn"
                  ><i class="fa fa-edit edit"></i
                ></a>
                <a *ngIf="userRole=='admin'" (click)="deleteEmployee(emp.id)"  class="btn"
                  ><i class="fa fa-trash trash"></i
                ></a>
               
              </td>
            </tr>
            
          </tbody>
      </table>
</div>